@font-face {
  font-family: 'helv-neue';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue-Light'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff');
}
@font-face {
  font-family: 'helv-neue';
  font-style: normal;
  font-weight: bold;
  src: local('HelveticaNeue-Medium'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff');
}